<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>platformType</key>
		<integer>1</integer>
		<key>serviceProvider</key>
		<string>GTSDKQQServiceImpl</string>
	</dict>
	<dict>
		<key>platformType</key>
		<integer>2</integer>
		<key>serviceProvider</key>
		<string>GTSDKWXServiceImpl</string>
	</dict>
	<dict>
		<key>platformType</key>
		<integer>3</integer>
		<key>serviceProvider</key>
		<string>GTSDKAliPayServiceImpl</string>
	</dict>
	<dict>
		<key>platformType</key>
		<integer>4</integer>
		<key>serviceProvider</key>
		<string>GTSDKWeiboServiceImpl</string>
	</dict>
	<dict>
		<key>platformType</key>
		<integer>5</integer>
		<key>serviceProvider</key>
		<string>GTSDKDingTalkServiceImpl</string>
	</dict>
	<dict>
		<key>platformType</key>
		<integer>5</integer>
		<key>serviceProvider</key>
		<string>GTSDKYXServiceImpl</string>
	</dict>
</array>
</plist>
